# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_PORT=3306
DB_USER=adonis_user
DB_PASSWORD=adonis_password
DB_DATABASE=adonis_db

GATEWAY_1_BASE_URL=http://localhost:3001
GATEWAY_1_EMAIL=dev@betalent.tech
GATEWAY_1_TOKEN=FEC9BB078BF338F464F96B48089EB498

GATEWAY_2_BASE_URL=http://localhost:3002
GATEWAY_2_AUTH_TOKEN=tk_f2198cc671b5289fa856
GATEWAY_2_AUTH_SECRET=3d15e8ed6131446ea7e3456728b1211f